table {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: left;
    padding: 8px;
    color: #3B3030;
}

th {
    text-align: left;
    padding: 8px;
    color: #3B3030;
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #FFF0D1;
}
.mb-0 {
    color: #664343;
}
.fw-bold {
    color: #3B3030
}

/* .btn-host-database {
  background-color: #FFF0D1;
  color: #3B3030;
  font-family: sans-serif;
  font-weight: bold;
  width: 130px;
}

.btn-tambah-database {
  background-color: white;
  width: 170px;
  color: #664343;
  font-family: sans-serif;
}

.btn-edit-database {
  width: 80px;
  background-color: #795757;
  color: #FFF0D1;
  border: none;
  font-family: sans-serif;
}

.btn-edit-database {
  width: 80px;
  background-color: #795757;
  color: "#FFF0D1";
}


.btn-hapus-database {
  width: 80px;
  background-color: #664343;
  color: #FFF0D1;
}


.action-cell {
  text-align: center;
} */
