/* Modal Container */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Background semi-transparan */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Mengaktifkan scroll secara vertikal */
  z-index: 9999;
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  max-height: 90%; /* Membatasi tinggi modal agar tidak lebih besar dari layar */
  overflow-y: auto; /* Scroll isi modal secara vertikal jika terlalu tinggi */
}

/* Header Modal */
.modal-header h2 {
    color: #664343;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-header p {
    color: #3B3030; /* Warna teks header kecil */
    font-size: 13px;
    font-family: 'Arial', sans-serif;
}

/* Textbox (input dan textarea) */
input.form-control, textarea.form-control {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #3B3030; /* Warna font */
    border: 1px solid #D9B9B9; 
    border-radius: 10px;
    padding: 10px;
    box-shadow: none;
    width: 100%; /* Lebar penuh untuk input */
}

/* Placeholder styling */
input::placeholder, textarea::placeholder {
    color: #B89A9A;
    font-size: 13px;
}

/* Button Tambah */
button.btn-primary {
  background-color: #5D4037; /* Warna background tombol */
  color: #fff;
  border: none;
  border-radius: 25px; /* Bentuk rounded untuk tombol */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%; /* Lebar penuh tombol */
}

/* Responsivitas untuk layar kecil */
@media (max-width: 768px) {
  .modal-content {
    max-width: 90%; /* Lebar modal berkurang pada layar kecil */
    padding: 15px;
    height: auto;
  }

  /* Sesuaikan ukuran font dan jarak pada layar kecil */
  .modal-header h2 {
    font-size: 18px;
  }

  input.form-control, textarea.form-control {
    font-size: 13px;
    padding: 8px;
  }

  button.btn-primary {
    font-size: 15px;
  }
}

/* Menonaktifkan scroll di body ketika modal terbuka */
body.modal-open {
  overflow: hidden;
}

td {
    text-align: left;
    padding: 8px;
    color: #3B3030;
}

th {
    text-align: left;
    padding: 8px;
    color: #3B3030;
    background-color: white;
}